*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#050512;

  min-height:100vh;
  min-width:320px;

  display:flex;
  justify-content:center;
  align-items:center;

  padding:20px;

  font-family:Arial, Helvetica, sans-serif;
  color:white;
}

/* CONTAINER */

.container{
  width:100%;
  max-width:420px;
  min-width:320px;

  min-height:100vh;

  display:flex;
  flex-direction:column;

  padding-top:60px;
}

/* LOGO */

.logo-area{
  text-align:center;
  margin-bottom:80px;
}

.logo-icon{
  width:80px;
  margin:0 auto 18px;
}

.logo-icon svg{
  width:100%;
}

/* TITULO */

.title{
  font-size:2rem;
  font-weight:600;
}

.subtitle{
  color:#8e8ea0;
  font-size:0.78rem;
  margin-top:4px;
}

/* CONTEUDO */

.content{
  width:100%;
}

.content h2{
  text-align:center;
  font-size:2rem;
  margin-bottom:14px;
}

.description{
  text-align:center;
  color:#d0d0d0;

  margin-bottom:40px;

  font-size:1rem;
}

/* FORM */

#passwordForm{
  display:flex;
  flex-direction:column;
  gap:18px;
}

/* INPUT */

.input-group{
  width:100%;
  height:58px;

  background:#4a4a67;

  border-radius:12px;

  display:flex;
  align-items:center;

  padding:0 16px;

  position:relative;
}

.icon{
  width:22px;
  height:22px;

  color:#c9c9d5;

  margin-right:12px;

  flex-shrink:0;
}

.icon svg{
  width:100%;
  height:100%;
}

.input-field{
  flex:1;

  background:none;
  border:none;
  outline:none;

  color:white;
  font-size:0.95rem;
}

.input-field::placeholder{
  color:#d4d4dd;
}

/* REQUISITOS */

.password-rules{
  display:flex;
  flex-direction:column;
  gap:10px;

  margin-top:4px;
  margin-bottom:12px;

  padding-left:8px;

  font-size:0.92rem;
}

.password-rules span{
  color:#d0d0d0;
  transition:0.3s;
}

.password-rules .valid{
  color:#53d769;
}

/* BOTÃO */

.main-button{
  width:100%;
  height:52px;

  border:none;
  border-radius:14px;

  background:#5d4dff;

  color:white;

  font-size:1rem;
  font-weight:600;

  cursor:pointer;

  transition:0.3s;

  margin-top:10px;
}

.main-button:hover{
  opacity:0.92;
  transform:scale(1.01);
}

/* TABLET */

@media (min-width:768px){

  .container{

    min-height:auto;

    background:#0b0b1d;

    border-radius:28px;

    padding:
      60px
      45px;

    border:1px solid rgba(255,255,255,0.06);

    box-shadow:
      0 0 30px rgba(0,0,0,0.5);

  }

}

/* DESKTOP */

@media (min-width:1200px){

  .container{
    max-width:500px;
  }

}